body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: #E4F9F5;
    padding-top: 60px;
}
h1{
    margin: 10px auto 0px auto;
    font-family: 'Sacramento', cursive;
    /* font-family: 'Dancing Script', cursive; */
    /* font-size: 45px; */
    font-size: 4.5rem;   
}

h2{
    
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
}
h3{
    

    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
}
.middle-container{
    background-color: white;
}

.skill-row{
    width: 55%;
    margin: 100px auto 100px auto;
    line-height: 2.5;
    text-align: left;
    
}
.robot-icon{
    width: 25%;
    float: left;
    padding: 30px;
}
.computer-icon{
    position: relative;
    bottom: 100px;
    clip-path: circle(100px);
    width: 40%;
    float: right;
    padding: 30px;
}

.development-icon{
    position: relative;
    right: 50px;
    /* width: 40%; */
    float: left;
    
    clip-path: circle(130px);
}
.bottom-container{
    margin: 0;
    background-color: #6C4AB6;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

hr{
    margin: 5rem auto 5rem auto;
    border: none;
    width: 8%;
    border-bottom: 0.6rem dotted;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    width : 200px;
}

.top-cloud{
    position: relative;
    left: 280px;
    width: 200px;
    padding-bottom: 30px;
}

.mountain{
    width: 700px;
}


#pro{
    color: red;
}
#programmer{
    font-size: 1.5rem;
}
#profile-photo{
    margin-top: 5rem;
    width: 300px;
    clip-path: circle(100px);
}
#money{
    color: red;
}
.footer-link,
.btn
{
    color: white;
}

.about{
    width: 55%;
    margin: 100px auto 100px auto;
    line-height: 2.5;
    text-align: left;
    text-align: center;
}



